<!DOCTYPE html>
<html lang="es">
<head>
  <title>UNDEFINED</title>
  <link rel="stylesheet" href="../styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 class="titulo">UNDEFINED</h1>

  <div class="tarjeta-principal">
    <div class="formulario" id="formulario-inicial">
      <label for="talla">Elige tu talla:</label>
      <select id="talla"></select>

      <label for="color">Elige tu color favorito:</label>
      <select id="color">
        <option disabled selected hidden>Clica aquí</option>
        <option>Rosa</option>
        <option>Azul</option>
        <option>Verde</option>
        <option>Amarillo</option>
        <option>Negro</option>
        <option>Morado</option>
        <option>Naranja</option>
        <option>Blanco</option>
      </select>

      <button onclick="mostrarOpciones()">Pedir</button>
    </div>
    <img src="../imagenes/imagencrocss.png" class="crocs">
  </div>

  <div class="tarjeta-secundaria" id="opciones" style="display: none;">
    <div class="posicionqr">
      <img src="../imagenes/QR_PáginaWeb.jpeg" alt="QR" class="qr-img">
    </div>
    <button onclick="mostrarProcesando()">Auxiliar</button>
  </div>

  <div class="mensaje" id="procesando" style="display: none;">
    <p>Espere un momento, su pedido se está procesando</p>
  </div>
  
  <div class="tarjeta-principal formulario" id="acciones" style="display: none;">
    <label>¿Qué desea hacer?</label>
    <button onclick="mostrarMensaje('Compra Realizada')">Compra</button>
    <button onclick="mostrarMensaje('Colóquelo en la ventana de devolución')">Devolución</button>
  </div>

  <div class="mensaje" id="mensaje-final" style="display: none; text-align: center;">
    <p id="mensaje-texto"></p>
    <button onclick="volverAlInicio()">Volver al inicio</button>
  </div>

  <script src="../styles.js"></script>
</body>
</html>
